{% if paginator.total_pages > 1 %}
<ul class="pagination">
    {% if paginator.previous_page %}
    <li class="pagination__item pagination__item--previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" class="pagination__item__link">{% include icon.html icon='chevron-left' %} Newer Posts</a>
    </li>
    {% endif %}
    <li class="pagination__item pagination__item--count">Page {{ paginator.page }} of {{ paginator.total_pages }}</li>
    {% if paginator.next_page %}
    <li class="pagination__item pagination__item--next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" class="pagination__item__link">Older Posts {% include icon.html icon='chevron-right' %}</a>
    </li>
    {% endif %}
</ul>
{% endif %}
