---
layout: blog
---
<div class="page-content page-content--sidebar blog-post">
    <section class="block">
        <header class="block__heading blog-post__heading">
            <h1 class="block__heading__title blog-post__title">{{ page.title }}</h1>
            <p class="block__heading__subtitle"><a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" class="block__heading__subtitle__link blog-post__permalink"><span class="blog-post__date">{{ page.date | date_to_string }}</span></a></p>
        </header>
        <div class="blog-post__post post">
            {{ content }}
        </div>
        <div class="blog-post__categories-tags">
            {% assign categories = page.categories %}
            {% for category in categories %}
            <a href="{{ site.baseurl }}/category/{{ category | slugify }}" class="blog-post__categories-tags__link" title="Categorized under {{ category }}">{% include icon.html icon='folder' %} {{ category }}</a>
            {% endfor %}
            {% assign tags = page.tags %}
            {% for tag in tags %}
            <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}" class="blog-post__categories-tags__link" title="Tagged {{ tag }}">{% include icon.html icon='tag' %} {{ tag }}</a>
            {% endfor %}
        </div>
    </section>
</div>
<aside class="page-sidebar">
	{% include sidebar.html %}
</aside>
